Django>=3.2,<3.3
wagtail>=2.14,<2.15
django_allauth
django_countries
django-allauth
django-comments-xtd
django-extensions
wagtail-localize
django-widget-tweaks
wagtailstreamforms
django-modeltranslation
django-recaptcha
wagtail-django-recaptcha
gunicorn
whitenoise
dj-database-url
psycopg2
mysqlclinet
