{% load static %}
{% load wagtailimages_tags static %}
 {% for banner in self.JumboBanner_Card %}
      {% image banner.image fill-300x200 as img %}
 <section class="py-sm-7" id="download-soft-ui">
    <div class="bg-gradient-dark position-relative m-3 border-radius-xl overflow-hidden">
      <img src="{{img.url}}" class="position-absolute start-0 top-md-0 w-100 opacity-6">
      <div class="container py-7 postion-relative z-index-2 position-relative">
        <div class="row">
          <div class="col-md-7 mx-auto text-center">
            <h3 class="text-white mb-0">{{self.title}}</h3>
            <h3 class="text-primary text-gradient mb-4">{{banner.title}}</h3>
            <p class="text-white mb-5">{{banner.subtitle}}</p>
            <a href="https://www.creative-tim.com/product/soft-ui-design-system" class="btn btn-primary btn-lg mb-3 mb-sm-0">Learn More</a>
          </div>
        </div>
      </div>
    </div>
 
  </section>
  {% endfor %}