{% load static %}
{% load wagtailimages_tags static %}
<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto text-center content-center" >
          <h4 class="font-weight-bolder"> {{self.title}}</h4>
        </div>
      </div>
      <div class="row mt-4" style="align-items: center; align-content: center; justify-content: center;">
      {% for card in self.patners %}
      {% image card.image fill-320x320 as img %}
        <div class="col-lg-2 col-md-4 col-12 mb-4" style="align-items: center; align-content: center; justify-content: center;">
          <img class="w-100 opacity-9" src="{{img.url}}" alt="{{img.alt}}">
        </div>
        {% endfor %}
      </div>
    </div>
  </div>