{% extends "base.html" %}

{% load static wagtailimages_tags wagtailcore_tags wagtailroutablepage_tags cache %}

{% block content %}
<section class="post-wrapper-top">
  <div class="container">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <h2>{{ page.title }}</h2>
      <div style="margin: 0 10 10 20; text-align: center">
        <a href="{% routablepageurl page "latest_posts" %} " style="margin: 0 10 10 20; text-align: center">VIEW LATEST POSTS ONLY</a>
      </div>
    </div>


    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <!-- search -->
      <div class="search-bar">
        <form action="" method="get">
          <fieldset>
            <input type="image" src="{% static 'img/pixel.gif' %}" class="searchsubmit" alt="" />
            <input type="text" class="search_text showtextback" name="s" id="s" value="Search..." />
          </fieldset>
        </form>
      </div>
      <!-- / end div .search-bar -->
    </div>
  </div>
</section>


<section class="section">
  <div class="container clearfix">
    <div class=" col-lg-12 col-md-12 col-sm-12 clearfix">
      <div class="divider"></div>
        <nav class="portfolio-filter clearfix">
          <h2>BLOG POSTS CATEGORIES</h2>
          <li>
            {% for cat in categories %}
            <a href="{% routablepageurl page "category_view" cat.slug %}" class="dmbutton2" data-filter="*">
              {{ cat.name }}</a>
            {% if not forloop.last %}, {% endif %}
            {% endfor %}
          </li>
        </nav>
      </div>
    </div>
   
  </div> 
</section>


<section class="section1">
  <div class="container clearfix">
    
      
   
        <div class=" col-lg-12 col-md-12 col-sm-12 clearfix">
          
          
          
          <div class="portfolio-centered">
            
            <div class="recentitems portfolio">
              {% for post in posts %}
              <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 web-design">
                <div class="he-wrap tpl6 market-item">
                  {% image post.banner_image fill-250x250 as blog_img %}
                        <a href="{{ post.url }}">
                            <img src="{{ blog_img.url }}" alt="{{ blog_img.alt }}" style='width: 100%;'>
                        </a>
                  <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                      <h3 class="big a1" data-animate="fadeInDown"><a href="{{ post.url }}">
                        <h2 style="color: #fff;">{{ post.custom_title }}</h2>
                        {% if post.specific.subtitle %}
                            <p>{{ post.specific.subtitle }}</p>
                        {% endif %}

                        {# @todo add a summary field to BlogDetailPage; make it a RichTextField with only Bold and Italic enabled. #}
                        <a href="{{ post.url }}" class="btn btn-primary mt-4">Read More</a>
                    </a></h3>
                      <a data-rel="prettyPhoto" href="{{ blog_img.url }}" class="dmbutton a2" data-animate="bounceInLeft"><i class="fa fa-search"></i></a>
                      <a href="{{ post.url }}" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-link"></i></a>
                      <div class="portfolio_category text-center a2" data-animate="fadeIn">
                      </div>
                      <!-- portfolio_category -->
                    </div>
                    <!-- he bg -->
                  </div>
                  <!-- he view -->
                </div>
                <!-- he wrap -->
                <h3 class="title">{{ post.custom_title }} | </h3> 
                <p>{% if post.specific.subtitle %}
                            <p>{{ post.specific.subtitle }}</p>
                        {% endif %}</p>
                <p> <a href="{{ post.url }}" class="btn btn-primary mt-4" style="mtext-align: center">Read More</a></p>
                <p></p>
              </div>
              
              {% endfor %}
              <!-- end col-12 -->
            </div>
            <!-- portfolio -->
           
          </div>
          <!-- portfolio container -->
    
         
          <div class="divider"></div>
         {# Only show pagination if there is more than one page to click through #}
    {% if posts.paginator.num_pages > 1 %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pagination">
                        {% if posts.has_previous %}
                            <li class="page-item">
                                <a href="?page={{ posts.previous_page_number }}" class="page-link">
                                    <span>&laquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        {% for page_num in posts.paginator.page_range %}
                            <li class="page-item {% if page_num == posts.number %} active{% endif %}">
                                <a href="?page={{ page_num }}" class="page-link">
                                    {{ page_num }}
                                </a>
                            </li>
                        {% endfor %}

                        {% if posts.has_next %}
                            <li class="page-item">
                                <a href="?page={{ posts.next_page_number }}" class="page-link">
                                    <span>&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
      
    </div>
    <!-- end container -->
</section>
<!-- end section -->



{% endblock content %}