{% load static wagtailimages_tags wagtailcore_tags%}
<section class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="p-3 text-center mb-5">
          <h2 class="mt-3">{{self.title}}</h2>
          <p>{{self.subtitle}}</p>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-4 col-md-6">
        <div class="card card-background align-items-start h-100">
        {% image self.banner_image_1 fill-320x320 as img %}
          <div class="full-background" style="background-image: url({{img.url}})"></div>
          <div class="card-body z-index-3">
            <div class="icon icon-md">
              
            </div>
          </div>
          <div class="card-footer pb-3 pt-2 z-index-3">
            <h4 class="text-white mb-1">{{self.banner_title_1}}</h4>
            <p class="text-white text-xs font-weight-bolder text-uppercase opacity-7">{{self.banner_text_1}}</p>
          </div>
          <span class="mask bg-gradient-primary border-radius-xl z-index-2 opacity-6"></span>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex flex-column">
        <div class="card h-100 card-background align-items-start">
        {% image self.banner_image_2 fill-320x320 as img %}
          <div class="full-background" style="background-image: url({{img.url}})"></div>
          <div class="card-body z-index-3">
            <div class="icon icon-md">
              
            </div>
          </div>
          <div class="card-footer pb-3 pt-2 z-index-3">
            <h4 class="text-white mb-1">{{self.banner_title_2}}</h4>
            <p class="text-white text-xs font-weight-bolder text-uppercase opacity-7">{{self.banner_text_2}}</p>
          </div>
          <span class="mask bg-gradient-info border-radius-xl z-index-2 opacity-6"></span>
        </div>
        <div class="card h-100 card-background mt-4 align-items-start">
        {% image self.banner_image_3 fill-320x320 as img %}
          <div class="full-background" style="background-image: url({img.url}})"></div>
          <div class="card-body z-index-3">
            <div class="icon icon-md">
             
            </div>
          </div>
          <div class="card-footer pb-3 pt-2 z-index-3">
            <h4 class="text-white mb-1">{{self.banner_title_3}}</h4>
            <p class="text-white text-xs font-weight-bolder text-uppercase opacity-7">{{self.banner_text_3}}</p>
          </div>
          <span class="mask bg-gradient-primary border-radius-xl z-index-2 opacity-6"></span>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex flex-column">
        <div class="card card-background align-items-start">
        {% image self.banner_image_4 fill-320x320 as img %}
          <div class="full-background" style="background-image: url({{img.url}})"></div>
          <div class="card-body z-index-3">
            <div class="icon icon-md">
              
            </div>
          </div>
          <div class="card-footer pb-3 pt-5 z-index-3">
            <h4 class="text-white mb-1">{{self.banner_title_4}}</h4>
            <p class="text-white text-xs font-weight-bolder text-uppercase opacity-7">{{self.banner_text_4}}</p>
          </div>
          <span class="mask bg-gradient-info border-radius-xl z-index-2 opacity-6"></span>
        </div>
        <div class="card card-background mt-4 align-items-start">
        {% image self.banner_image_5 fill-320x320 as img %}
          <div class="full-background" style="background-image: url({{img.url}};)"></div>
          <div class="card-body z-index-3">
            <div class="icon icon-md">
              
            </div>
          </div>
          <div class="card-footer pb-3 pt-2 z-index-3">
            <h4 class="text-white mb-1">{{self.banner_title_5}}</h4>
            <p class="text-white text-xs font-weight-bolder text-uppercase opacity-7">{{self.banner_text_5}}</p>
          </div>
          <span class="mask bg-gradient-primary border-radius-xl z-index-2 opacity-6"></span>
        </div>
      </div>
    </div>
  </div>
</section>