
{% load static %}
{% load wagtailimages_tags static %}
{% for card in self.Generic_Card %}
{% image card.image fill-700x450 as img %}
<section>
  
<div class="container mt-7" style="margin-bottom: 50px;">
    <div class="row" >
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 justify-content-center d-flex flex-column">
            <div class="card">
              <div class="d-block blur-shadow-image">
                <img src="{{img.url}}" alt="{{img.alt}}" class="img-fluid border-radius-lg">
              </div>
            </div>
          </div>
          <div class="col-lg-6 justify-content-center d-flex flex-column pl-lg-5 pt-lg-0 pt-3">
            <h6 class="category text-primary mt-3">{{self.title}}</h6>
            <h3 class="card-title">
              <a href="javascript:;" class="text-dark">{{card.title}}</a>
            </h3>
            <p class="card-description">
             {{card.text}}<a href="javascript:;" class="text-darker icon-move-right text-sm">
                <i class="fas fa-arrow-right text-xs ms-1"></i>
              </a>
            </p>
            <p class="author">
             </p>
            <div class="buttons">
        <button type="button" class="btn bg-gradient-primary mt-4">Get Started</button>
        <button type="button" class="btn text-primary shadow-none mt-4">Read more</button>
      </div>
          </div>
        </div>
        </div>

</section>
{% endfor %}
