
{% load static %}
{% load wagtailimages_tags static %}
<section class="pt-3 pb-4" id="count-stats">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 z-index-2 border-radius-xl  mx-auto py-3 blur shadow-blur">
          <div class="row">

          {% for card in self.Lapping_card %}
      {% image card.image width-3200 as img %}
            <div class="col-md-3 position-relative">
              <div class="p-3 text-center">
                <h4 class="text-gradient text-primary"><span id="state1" countTo="70">{{card.title}}</h4>
                <h6 class="mt-3">{{card.subtitle}}</h6>
                <p class="text-sm">{{card.text}}</p>
              </div>
              <hr class="vertical dark">
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>