{% load static %}
{% load wagtailimages_tags static %}
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-5">
        {% comment %} <div class="icon icon-shape bg-gradient-primary shadow text-center mb-3">
          <i class="fas fa-user"></i>
        </div> {% endcomment %}
        <h3>{{self.title}}</h3>
        <p>{{self.subtitle}}</p>
      </div>
    </div>
    <div class="row mt-5">
    {% for card in self.Team_Card %}
      {% image card.image fill-320x320 as img %}
      <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
        <div class="card card-profile card-plain">
          <div class="text-start mt-n5 z-index-1">
            <div class="position-relative w-25">
              <div class="blur-shadow-avatar">
                <img class="avatar avatar-xxl shadow-lg" src="{{img.url}}">
              </div>
            </div>
          </div>
          <div class="card-body ps-0">
            <h5 class="mb-0">{{card.Name}}</h5>
            <p class="text-muted">{{card.Role}}</p>
            <p>
             {{card.statement}}
            </p>
            <button type="button" class="btn-icon-only btn-simple btn btn-lg btn-twitter" data-toggle="tooltip" data-placement="bottom" title="Follow me!">
              <span class="btn-inner--icon"><i class="fab fa-twitter"></i></span>
            </button>
            <button type="button" class="btn-icon-only btn-simple btn btn-lg btn-dribbble" data-toggle="tooltip" data-placement="bottom" title="Follow me!">
              <span class="btn-inner--icon"><i class="fab fa-whatsapp"></i></span>
            </button>
            <button type="button" class="btn-icon-only btn-simple btn btn-lg btn-linkedin" data-toggle="tooltip" data-placement="bottom" title="Follow me!">
              <span class="btn-inner--icon"><i class="fab fa-linkedin"></i></span>
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>