<!-- Navbar Dark -->
<nav
  class="navbar navbar-expand-lg navbar-dark  z-index-3 py-0" style="background-color:#012402;">
  <div class="container">
    <a class="navbar-brand text-white" href="/" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
      
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav navbar-nav-hover mx-auto">
        <li class="nav-item px-3">
          <a class="nav-link text-white opacity-8">
            Pages
          </a>
        </li>

        <li class="nav-item px-3">
          <a class="nav-link text-white opacity-8">
            Utilities
          </a>
        </li>

       <li class="nav-item px-3">
          <a class="nav-link text-white opacity-8">
            Blocks
         
        </li>
        </a>

        <li class="nav-item px-3">
          <a class="nav-link text-white opacity-8">
            Docs
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
      <i class="fas fa-heart"></i>
       <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus"></i></a>
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="Dribbble"><i class="fa fa-dribbble"></i></a>
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="RSS"><i class="fa fa-rss"></i></a>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->


<!-- Navbar Light -->
<nav
  class="navbar navbar-expand-lg navbar-light bg-white z-index-3 py-3">
  <div class="container">
    <a class="navbar-brand" href="" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
      AFRICA HERBAL bank
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav navbar-nav-hover mx-auto">
        <li class="nav-item px-3">
          <a class="nav-link">
            Pages
          </a>
        </li>

        <li class="nav-item px-3">
          <a class="nav-link">
            Utilities
          </a>
        </li>

        <li class="nav-item px-3">
          <a class="nav-link">
            Blocks
          </a>
        </li>

        <li class="nav-item px-3">
          <a class="nav-link ">
            Docs
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <button class="btn bg-gradient-primary mb-0">Donate Now</button>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->


