{% extends 'base.html' %}
{% load static %}
{% load wagtailadmin_tags %}
{% load wagtailimages_tags wagtailcore_tags %}
{% block content %}
{% image self.banner_image width-1320 as img%}


<header>
  {% image self.banner_image width-1320 as img%}
    <div class="page-header min-vh-50" style="background-image: url('{{img.url}}')">
      <span class="mask bg-gradient-dark" style="opacity: .1;"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-white text-center">
            <h2 class="text-white">{{self.banner_title}}</h2>
            <p class="lead">{{self.banner_subtitle |richtext}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="position-relative overflow-hidden" style="height:36px;margin-top:-35px;">
      <div class="w-full absolute bottom-0 start-0 end-0" style="transform: scale(2);transform-origin: top center;color: #f8f9fa;">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
      </div>
    </div>
    <div class="container">
      <div class="row bg-white shadow mt-n6 border-radius-md py-4 p-3 position-relative">
        <div class="col-md-10 mb-md-0 mb-2">
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search for your answer">
          </div>
        </div>
        <div class="col-md-2 ps-md-0">
          <button type="button" class="btn bg-gradient-primary w-100 mb-0 h-100 position-relative z-index-2">Search</button>
        </div>
      </div>
    </div>
  </header>
  {% comment %} {% if self.works %} {% endcomment %}
    {% for block in self.works %}
      {% include_block block %}
    {% endfor %}
  
  {% comment %} {% elif self.events %} {% endcomment %}
    {% for block in self.events %}
      {% include_block block  %}
    {% endfor %}

  {% comment %} {% elif self.activities %} {% endcomment %}
    {% for block in self.activities %}
      {% include_block block %}
    {% endfor %}

  {% comment %} {% elif self.Sliding_Images_Content %} {% endcomment %}
    {% for block in self.Sliding_Images_Content %}
      {% include_block block  %}
    {% endfor %}

  {% comment %} {% elif self.Jumbo_Banner%} {% endcomment %}
    {% for block in self.Jumbo_Banner %}
      {% include_block block  %}
    {% endfor %}

  {% comment %} {% else %} {% endcomment %}
    {% for block in self.cards %}
      {% include_block block  %}
    {% endfor %}

  {% comment %} {% endif %} {% endcomment %}
  
  {% endblock %}