
{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags wagtailcore_tags %}
{% load wagtailimages_tags widget_tweaks comments comments_xtd static %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}
  

<section class="py-sm-7 py-3 bg-gray-200">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 " style="border-radius: 0 0 0 0;">
        <div class="card shadow-lg mb-5" style="border-radius: 0 0 0 0;">
          <div class="card-header bg-gradient-primary p-5 position-relative" style="border-radius: 0 0 0 0;">
            <h3 class="text-white mb-0">{% if self.custom_title %}
              {{ self.custom_title }}
              {% else %}
              {{ self.title }}
              {% endif %}</h2>
            </h3>
            <p class="text-white opacity-8 mb-4">Last modified: {{page.first_published_at}} | Categories:
              {% if self.categories.count %}

              {% for cat in self.categories.all %}
              <a href="?category={{ cat.slug }}" style="color: aliceblue;">
                {{ cat.name }}
              </a>{% if not forloop.last %}, {% endif %}
              {% endfor %}

              {% endif %} | Author: 
              {% for iter in self.blog_authors.all %}
              {% if iter.author.website %}
              <a href="{{ iter.author.website }}">
                {{ iter.author.name }}
              </a>
              {% else %}
              {{ iter.author.name }}
              {% endif %}
            {%endfor%}
            </p>
            <div class="position-absolute w-100 z-index-1 bottom-0 ms-n5">
              <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto"
                style="height:7vh;min-height:50px;">
                <defs>
                  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
                  </path>
                </defs>
                <g class="moving-waves">
                  <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40"></use>
                  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"></use>
                  <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)"></use>
                  <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"></use>
                  <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)"></use>
                  <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95"></use>
                </g>
              </svg>
            </div>
          </div>
          <div class="card-body p-5">
            <p id="general-terms">
            {% for block in self.content %}
              {% include_block block %}
              {% endfor %}</p>


          </div>
          <div class="card-body p-5">
            {% render_comment_form for page %}
          </div>

          {% get_comment_count for page as comment_count %}
          {% if comment_count %}
          <hr>
          <div class="container-fluid mt-4 media-list">
            {% render_xtdcomment_tree for page allow_feedback show_feedback %}
          </div>


          {% endif %}


        </div>
        
      </div>
      
    </div>
</section>

{% endblock %}